<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test Report</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="style.css" type="text/css">
    <!-- <link rel="shortcut icon" href="images/favicon.png"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="navigation">
        <div class="container-fluid">
            <div id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="overview-features.html">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="overview-tags.html">Tags</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="overview-steps.html">Steps</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="overview-failures.html">Failures</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container content-page">
        <div class="element">
            <div class="d-flex flex-row justify-content-evenly title-and-logo">
                <img src="assets/images/logo_mibanco.png" alt="Logo" height="90">
                <h1>Reporte de APIs</h1>
            </div>
            <table class="table table-bordered shadow p-3 mb-5 bg-body-tertiary rounded">
                <thead>
                    <tr>
                        <th scope="col">Proyecto</th>
                        <th scope="col">Fecha del reporte</th>                       
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Framework Auto Api</th>
                        <td>{{date}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="element">
            {% for feature in features %} <!--Por cada feature-->
            <div id="feature-report">
                {% set feature_index = loop.index %}
                <h2>{{ feature.feature_name }}</h2>
                </br>
                <!-- tabla for feature -->
                <div class="element row justify-content-center d-flex flex-row justify-content-around align-items-center table-and-chart">
                    <div id="table-report-status" class="col align-items-center">
                        <table class = "table table-bordered align-items-center">
                            <thead>
                                <tr>
                                    <th scope="col" colspan="4">Scenarios</th>
                                    <th scope="col" colspan="4">Steps</th>                       
                                </tr>
                            </thead>  
                            <tbody>
                                <tr>
                                    <td class="text-dark fw-bold bg-passed">Passed</td>
                                    <td class="text-dark fw-bold bg-failed">Failed</td>
                                    <td class="text-dark fw-bold bg-skipped">Skipped</td>
                                    <td>Total</td>
                                    <td class="text-dark fw-bold bg-passed">Passed</td>
                                    <td class="text-dark fw-bold bg-failed">Failed</td>
                                    <td class="text-dark fw-bold bg-skipped">Skipped</td>
                                    <td>Total</td>
                                </tr>
                                <tr>
                                    <td>{{feature.scenario_passed_count}}</td>
                                    <td>{{feature.scenario_failed_count}}</td>
                                    <td>{{feature.scenario_skipped_count}}</td>
                                    <td>{{feature.scenarios_total}}</td>
                                    <td>{{feature.step_passed_count}}</td>
                                    <td>{{feature.step_failed_count}}</td>
                                    <td>{{feature.step_skipped_count}}</td>
                                    <td>{{feature.steps_total}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col chart-canvas-style justify-content-center d-flex flex-row align-items-center">
                        <canvas id="chart-{{ loop.index }}"
                                data-passed="{{ feature.scenario_passed_count }}"
                                data-failed="{{ feature.scenario_failed_count }}"
                                data-skipped="{{ feature.scenario_skipped_count }}"
                                data-feature-name="{{ feature.feature_name }}">
                    </canvas>
                    </div>
                </div>
                {% for scenario in feature.scenarios %}
                {% set scenario_index = loop.index %}
                    <div class="element card">
                        <div id="scenario-{{loop.index}}"data-bs-toggle="collapse" class="collapsable-control card-body d-flex flex-row justify-content-between collapsed brief scenario-{{scenario.status}} scenario-card" data-bs-target="#element-{{feature_index}}{{loop.index}}" aria-expanded="false" aria-controls="element-{{feature_index}}{{loop.index}}">
                            <div>
                                <span class="keyword indention">Scenario</span>
                                <span class="name">{{scenario.name}}</span>
                                <i class="chevron fa fa-fw"></i>
                            </div>                        
                            <div>
                                <span class="lead-duration duration keyword indention">{{scenario.status}}</span>
                            </div>      
                        </div>
                        <!-- <div class="description indention"></div> -->
                        <div id="element-{{feature_index}}{{loop.index}}" class=" collapsable-details collapse" aria-expanded="true">
                            <div class="steps inner-level">
                                <div data-bs-toggle="collapse" class="steps-box scenario-{{scenario.status}} collapsed collapsable-control" data-bs-target="#steps-{{feature_index}}{{loop.index}}" aria-expanded="false">
                                    <div class="brief steps-box {{scenario.status}}">
                                        <span class="keyword indention">Steps</span>
                                    <i class="chevron fa fa-fw"></i>
                                    </div>
                                </div>
                                <div id="steps-{{feature_index}}{{loop.index}}" class="inner-level collapsable-details collapse" aria-expanded="false">
                                    {% for step in scenario.steps %}
                                    <div class="step">
                                        <div class="brief step-name-{{step.keyword}} step-{{step.status}}">
                                            <span class="keyword indention">{{step.keyword}}</span>
                                            <span class="name">{{step.name}}</span>
                                            <span class="lead-duration duration">{{step.duration}}</span>
                                        </div>
                                        <div class="inner-level">
                                            <div class="docstring indention">
                                                <div>
                                                    <a data-bs-toggle="collapse" class="collapsable-control" href="#msg{{feature_index}}{{scenario_index}}-{{loop.index}}">Doc string</a>
                                                </div>
                                                <div id="msg{{feature_index}}{{scenario_index}}-{{loop.index}}" class="collapse collapsable-details card">
                                                    <pre class="card-body">{{ step.message }}</pre>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <script src="main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="main.js"></script>
</body>
</html>
