.body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #101010;
}

.content-page{
    margin-top: 100px;
}
.navbar-text{
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
}
.text-link-navbar{
    font-size: 18px;
}
.nav-link{
    padding-right: 1.5rem !important;
}
.lead-duration {
    float: right;
    padding-right: 15px;
}

.collapsable-control {
    cursor: pointer;
}

.collapsed .chevron:after {
    content: "\f054";
}
.keyword {
    font-weight: bold;
}
.indention {
    padding-left: 3px;
}
.lead-duration {
    float: right;
    padding-right: 15px;
}
.description, .comment {
    font-style: italic;
    background-color: beige;
    white-space: pre;
}
.inner-level {
    margin-top: 5px;
    margin-left: 20px;
    padding-bottom: 2px;
    padding-left: 1px;
}

#feature-report, #features-statistics-report{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fdfdfd;
    justify-content: center;
}
#features-statistics-report > div{
    margin:20px 20px 30px 20px;
}

#table-project{
margin: 20px;
}

#table-report-status{
    width: 70% !important;
    margin-right: 20px;
}

.statistics-feature-box{
    margin-left: 30px;
    margin-right: 30px;
}

.bg-passed{
    background-color:  rgba(75, 192, 120, 0.2) !important ;

}

.bg-failed{
   background-color: rgba(255, 99, 132, 0.2) !important ;

}

.bg-skipped{
    background-color: #ede9e9c5 !important ;
}

.chart-canvas-style{
    width: 300px;
    height: 300px;
    max-width: 30% !important;
    margin-left: 40px !important;
}

.scenario-box{
    margin: 30px;
    box-shadow: -1px 0 lightgray;
    transition: box-shadow 0.3s;
}

.steps-box{
    margin-top:20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.step-box{
    margin-left: 20px;
    border-radius: 5px;
}

.table-and-chart, .title-and-logo{
    margin-bottom: 30px;
}

.step-message{
    margin-bottom: 10px !important;
    padding: 10px !important;
}

#table-project{
    width: 60%;
}
.logo-mibanco{
    width: 40%;
}

.features-count, .scenarios-count, .steps-count{
    font-size: 3.5em;
    line-height: 1;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
}
.summary-widgets-features{
    padding:20px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fdfdfd;
}
.summary-widgets-features>div{
    margin: 15px;
}
.subtitles-text{
    color: #999;
    box-sizing: border-box;
    text-align: center;
}

footer{
    background-color: #fbf6f6f8;
    border: 1px solid #e7e7e7a0;
    padding: 20px;
}